.lightbox-gallery {
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    color: #000;
    
}

.lightbox-gallery p {
    color: rgb(112, 112, 112)
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: rgb(112, 112, 112)
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
    .item:hover{
        transform: none; 
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px;
    transition: transform 0.2s;
}
.item:hover{
    transform: scale(2.3); 
}