/* general setting */

:root{ --main: #F5E391;
    --sec: #1C2D63;
    --text:#343434;
    --ter: #7692AB;
    --test: #444444;
}
.bg-body{
    position: absolute;
    top: 0;
    z-index: -14;
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, #eeeeee, #ffff 25%) !important;
}
a{
    text-decoration: none;
    color:black !important;
}
.f-dir-row{
    flex-direction: row;
}
.mt-6 {
    margin-top: 4rem !important;
  }
.mt-7 {
    margin-top: 5rem !important;
  }

.text-bigger{
    font-size: 1.5rem !important
}
.text-big{
    font-size: 1.2rem !important
}
.text-small{
    font-size: 0.8rem !important
}
.text-color{
    color:var(--text) !important; 
}
.text-main{
    color: var(--main);
}

.text-sec{
    color: var(--sec);
}

.text-ter{
    color: var(--ter);
}

.text-test{
    color: var(--test);
}

.bg-main{
    background-color: var(--main)
}

.bg-sec{
    background-color: var(--sec)
}

/* Font */

*{
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
                    
                }

/* custom class  */
.center{
    justify-content: center;
    align-items: center;
}
.fw-normal-plus {
    font-weight: 500 !important;
  }
@media only screen and (min-width: 900px) {
    .cat-box {
  
        width: 20%;
        margin-left: 1%;
        margin-right: 1%;
    }  
}
.cat-box {
    margin-left: 1%;
    margin-right: 1%;
}  
.inline-link{
    flex-direction: row;
}
.img-box-1{
    width: 400px;
    margin-right: 5px;
    background-image: url('https://picsum.photos/300');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-box-2{
    width: 400px;
    margin-left: 5px;
    background-image: url('https://picsum.photos/301');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.double-angle{
    position: relative;
    left: -15px;
}                   